		<div class="main-content">
			<div class="title">
				Gastos Médicos Mayores 
			</div>
			<div class="main">
				<div class="widget">
					<div class="title">Caracteristicas</div>
					<div class="chart">
						{{!-- <img src="https://www.laguiadelvaron.com/wp-content/uploads/2016/07/yee.jpg"> --}}
						<ul>
							<li>Ambulancia gratuita</li>
							<li>Consultas medicas preferenciales</li>
							<li>Citas</li>
						</ul>
						
					</div>
                    
				</div>

				<div class="widget">
					<div class="title">Requisitos</div>
					<div class="chart">
						{{!-- <img src="https://www.laguiadelvaron.com/wp-content/uploads/2016/07/yee.jpg"> --}}
						<ul>
							<li>Identificacion oficial</li>
							<li>Comprobante de domicilio</li>
							<li>2 Referencias</li>
						</ul>
						
					</div>
                   
				</div>
				
			</div>
			 <button>Adquirir por 100 puntos</button>
		</div>